body{
  background-color: #
  
}

#banner{
  width:100%;
  
}


h1 {
  text-align: center;
}

p {
 text-align: center; 
}

#missao {
  font-size: 20px;
}

em b {
  color: black; (255, 0, 0)
}

.item{
  font-style: italic;
}