.tituloprinc{
  padding-left: 20px;
}

.principal {
  background-color: #a8a8a8; 
  padding: 30px;
}

.banner {
  width: 100%;
}

.textocent {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em b {
  color: #ffffff;
}

.beneficios {
  background-color: #FFFFFF;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item {
  font-style: italic;
}

.imagem-beneficio {
  width: 50%;
}